asgiref==3.4.1
certifi== 2021.5.30
chardet==3.0.4
Django==3.2.6
idna==3.2
Pillow==9.0.0
psycopg2-binary==2.8.6
pytz==2021.1
sqlparse==0.4.1
urllib3==1.26.1
whitenoise==5.2.0
dj-database-url==0.5.0
gunicorn==20.1.0
django-cloudinary-storage
djangorestframework==3.13.1